<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}DINNER TIME!{{else}}CREATE!{{/if}}
	</button>

	<button class="delete-BURGER" data-id="{{this.id}}">DELETE!</button>
</li>
